<div id="<%= dom_id membership %>">
  <p>
    User
    <strong>
      <%= membership.user.username %>
    </strong>
    is part of
    <strong>
      <%= membership.beer_club.name %>
    </strong>
  </p>
</div>
