<p style="color: green"><%= notice %></p>

<%= render @membership %>

<div>
  <%= link_to "Back to memberships", memberships_path %>
  <%= button_to("Destroy this membership", @membership, method: :delete) if current_user and current_user.id == @membership.user_id %>
</div>
