<h2>List of ratings</h2>

<p>Total ratings: <%= @ratings.count %></p>
<p>
  <%= link_to "New rating", ratings_new_path %>
</p>

<ul>
  <% @ratings.each do |rating| %>
    <li> <%= render rating %> </li>
  <% end %>
</ul>