<h2>List of ratings</h2>

<p>Total ratings: <%= @ratings.count %></p>
<p>
  <%= link_to "New rating", new_rating_path %>
</p>

<ul>
  <% @ratings.each do |rating| %>
    <li> <%= rating %> <%= button_to 'delete', rating, method: :delete, form: { data: { turbo_confirm: "Really delete #{rating.score} point rating for #{rating.beer.name}?" } } %> </li>
  <% end %>
</ul>